package/startdb/src/db/torque/ivatagroupware-data.dtd

<!ELEMENT dataset (
    Address|
    AddressCountry|
    CalendarEvent|
    CalendarHoliday|
    LibraryComment|
    LibraryFaq|
    LibraryFaqCategory|
    LibraryItem|
    LibraryPage|
    LibraryTopic|
    Meeting|
    MeetingAgendaPoint|
    MeetingAttendee|
    MeetingCategory|
    NavigationFolder|
    NavigationMenu|
    NavigationMenuItem|
    Person|
    PersonEmployee|
    PersonGroup|
    PersonGroupMember|
    PersonGroupRight|
    PersonGroupRightDetail|
    PersonUser|
    PublicHoliday|
    SearchIndex|
    SearchItem|
    SearchItemContent|
    SearchResult|
    SearchStopword|
    Setting|
    TelecomAddress|
    Vacation)*>
<!ATTLIST dataset
    name CDATA #REQUIRED
>

<!ELEMENT Address EMPTY>
<!ATTLIST Address
    Id CDATA #REQUIRED
    StreetAddress CDATA #REQUIRED
    Town CDATA #REQUIRED
    PostCode CDATA #REQUIRED
    AddressCountry CDATA #IMPLIED
    Region CDATA #IMPLIED
>

<!ELEMENT AddressCountry EMPTY>
<!ATTLIST AddressCountry
    Id CDATA #REQUIRED
    Code CDATA #REQUIRED
    Name CDATA #REQUIRED
    Priority CDATA #IMPLIED
>

<!ELEMENT CalendarEvent EMPTY>
<!ATTLIST CalendarEvent
    Id CDATA #REQUIRED
    Start CDATA #REQUIRED
    Finish CDATA #IMPLIED
    Subject CDATA #REQUIRED
    Description CDATA #IMPLIED
    Dayevent CDATA #IMPLIED
    Modified CDATA #REQUIRED
    Type CDATA #IMPLIED
    Created CDATA #REQUIRED
    ModifiedBy CDATA #REQUIRED
    CreatedBy CDATA #REQUIRED
>

<!ELEMENT CalendarHoliday EMPTY>
<!ATTLIST CalendarHoliday
    Id CDATA #REQUIRED
    Date CDATA #REQUIRED
    Name CDATA #REQUIRED
    Description CDATA #IMPLIED
>

<!ELEMENT LibraryComment EMPTY>
<!ATTLIST LibraryComment
    Id CDATA #REQUIRED
    IdReplyTo CDATA #IMPLIED
    Item CDATA #IMPLIED
    Subject CDATA #REQUIRED
    Text CDATA #REQUIRED
    Modified CDATA #REQUIRED
    Format CDATA #IMPLIED
    NoReply CDATA #IMPLIED
    CreatedBy CDATA #REQUIRED
    Created CDATA #REQUIRED
    ModifiedBy CDATA #REQUIRED
>

<!ELEMENT LibraryFaq EMPTY>
<!ATTLIST LibraryFaq
    Id CDATA #REQUIRED
    LibraryFaqCategory CDATA #IMPLIED
    Question CDATA #REQUIRED
    Answer CDATA #IMPLIED
>

<!ELEMENT LibraryFaqCategory EMPTY>
<!ATTLIST LibraryFaqCategory
    Id CDATA #REQUIRED
    LibraryItem CDATA #IMPLIED
    Name CDATA #REQUIRED
    Description CDATA #IMPLIED
>

<!ELEMENT LibraryItem EMPTY>
<!ATTLIST LibraryItem
    Id CDATA #REQUIRED
    Type CDATA #REQUIRED
    LibraryTopic CDATA #IMPLIED
    Title CDATA #REQUIRED
    ImageDirectory CDATA #IMPLIED
    CreatedBy CDATA #IMPLIED
    Created CDATA #REQUIRED
    ModifiedBy CDATA #IMPLIED
    Modified CDATA #IMPLIED
    Summary CDATA #IMPLIED
>

<!ELEMENT LibraryPage EMPTY>
<!ATTLIST LibraryPage
    Id CDATA #REQUIRED
    LibraryItem CDATA #IMPLIED
    Number CDATA #REQUIRED
    Text CDATA #REQUIRED
>

<!ELEMENT LibraryTopic EMPTY>
<!ATTLIST LibraryTopic
    Id CDATA #REQUIRED
    Image CDATA #REQUIRED
    Caption CDATA #IMPLIED
>

<!ELEMENT Meeting EMPTY>
<!ATTLIST Meeting
    Id CDATA #REQUIRED
    CalendarEvent CDATA #IMPLIED
    LibraryItem CDATA #IMPLIED
    Location CDATA #IMPLIED
    ChairPerson CDATA #IMPLIED
>

<!ELEMENT MeetingAgendaPoint EMPTY>
<!ATTLIST MeetingAgendaPoint
    Id CDATA #REQUIRED
    Category CDATA #IMPLIED
    Name CDATA #REQUIRED
    MinutesText CDATA #IMPLIED
>

<!ELEMENT MeetingAttendee EMPTY>
<!ATTLIST MeetingAttendee
    Id CDATA #REQUIRED
    Person CDATA #IMPLIED
    Meeting CDATA #IMPLIED
    Confirmed CDATA #REQUIRED
>

<!ELEMENT MeetingCategory EMPTY>
<!ATTLIST MeetingCategory
    Id CDATA #REQUIRED
    Meeting CDATA #IMPLIED
    Name CDATA #REQUIRED
>

<!ELEMENT NavigationFolder EMPTY>
<!ATTLIST NavigationFolder
    Id CDATA #REQUIRED
    Folder CDATA #REQUIRED
    Open CDATA #REQUIRED
    Tree CDATA #REQUIRED
    PersonUser CDATA #IMPLIED
>

<!ELEMENT NavigationMenu EMPTY>
<!ATTLIST NavigationMenu
    Id CDATA #REQUIRED
    Priority CDATA #REQUIRED
    Text CDATA #REQUIRED
>

<!ELEMENT NavigationMenuItem EMPTY>
<!ATTLIST NavigationMenuItem
    Id CDATA #REQUIRED
    PersonUser CDATA #IMPLIED
    Priority CDATA #REQUIRED
    Menu CDATA #IMPLIED
    Text CDATA #REQUIRED
    Url CDATA #REQUIRED
    Image CDATA #IMPLIED
>

<!ELEMENT Person EMPTY>
<!ATTLIST Person
    Id CDATA #REQUIRED
    FirstNames CDATA #REQUIRED
    LastName CDATA #REQUIRED
    DateOfBirth CDATA #IMPLIED
    Company CDATA #IMPLIED
    PersonGroup CDATA #IMPLIED
    FileAs CDATA #REQUIRED
    Salutation CDATA #IMPLIED
    JobTitle CDATA #IMPLIED
    CreatedBy CDATA #REQUIRED
    Created CDATA #REQUIRED
    Modified CDATA #REQUIRED
    ModifiedBy CDATA #REQUIRED
    Deleted CDATA #IMPLIED
>

<!ELEMENT PersonEmployee EMPTY>
<!ATTLIST PersonEmployee
    Id CDATA #REQUIRED
    Person CDATA #IMPLIED
    AddressCountry CDATA #IMPLIED
    RegionCode CDATA #IMPLIED
    VacationDays CDATA #REQUIRED
    Number CDATA #IMPLIED
>

<!ELEMENT PersonGroup EMPTY>
<!ATTLIST PersonGroup
    Id CDATA #REQUIRED
    Name CDATA #REQUIRED
    Head CDATA #IMPLIED
    Parent CDATA #IMPLIED
    Description CDATA #IMPLIED
    CreatedBy CDATA #REQUIRED
    Created CDATA #REQUIRED
    Modified CDATA #REQUIRED
    ModifiedBy CDATA #REQUIRED
>

<!ELEMENT PersonGroupMember EMPTY>
<!ATTLIST PersonGroupMember
    PersonUser CDATA #REQUIRED
    PersonGroup CDATA #REQUIRED
>

<!ELEMENT PersonGroupRight EMPTY>
<!ATTLIST PersonGroupRight
    Id CDATA #REQUIRED
    TargetId CDATA #IMPLIED
    PersonGroup CDATA #IMPLIED
    Detail CDATA #IMPLIED
    Access CDATA #REQUIRED
>

<!ELEMENT PersonGroupRightDetail EMPTY>
<!ATTLIST PersonGroupRightDetail
    Id CDATA #REQUIRED
    Name CDATA #REQUIRED
    Description CDATA #IMPLIED
>

<!ELEMENT PersonUser EMPTY>
<!ATTLIST PersonUser
    Id CDATA #REQUIRED
    Name CDATA #REQUIRED
    Password CDATA #IMPLIED
    Enable CDATA #IMPLIED
    Deleted CDATA #IMPLIED
>

<!ELEMENT PublicHoliday EMPTY>
<!ATTLIST PublicHoliday
    Id CDATA #REQUIRED
    CalendarEvent CDATA #IMPLIED
    Country CDATA #IMPLIED
    RegionCode CDATA #IMPLIED
>

<!ELEMENT SearchIndex EMPTY>
<!ATTLIST SearchIndex
    Id CDATA #REQUIRED
    Content CDATA #IMPLIED
    Weight CDATA #IMPLIED
    Word CDATA #REQUIRED
>

<!ELEMENT SearchItem EMPTY>
<!ATTLIST SearchItem
    Id CDATA #REQUIRED
    Category CDATA #REQUIRED
    TargetId CDATA #IMPLIED
    Type CDATA #REQUIRED
>

<!ELEMENT SearchItemContent EMPTY>
<!ATTLIST SearchItemContent
    Id CDATA #REQUIRED
    SearchItem CDATA #IMPLIED
    TargetId CDATA #IMPLIED
    Type CDATA #REQUIRED
>

<!ELEMENT SearchResult EMPTY>
<!ATTLIST SearchResult
    Id CDATA #REQUIRED
>

<!ELEMENT SearchStopword EMPTY>
<!ATTLIST SearchStopword
    Id CDATA #REQUIRED
    Word CDATA #REQUIRED
>

<!ELEMENT Setting EMPTY>
<!ATTLIST Setting
    Id CDATA #REQUIRED
    Name CDATA #IMPLIED
    Value CDATA #IMPLIED
    Type CDATA #IMPLIED
    PersonUser CDATA #IMPLIED
    Description CDATA #IMPLIED
    Enable CDATA #REQUIRED
    Created CDATA #REQUIRED
    CreatedBy CDATA #REQUIRED
    Modified CDATA #REQUIRED
    ModifiedBy CDATA #REQUIRED
>

<!ELEMENT TelecomAddress EMPTY>
<!ATTLIST TelecomAddress
    Id CDATA #REQUIRED
    Person CDATA #IMPLIED
    Address CDATA #REQUIRED
    AddressType CDATA #REQUIRED
    Number CDATA #REQUIRED
    CreatedBy CDATA #REQUIRED
    Created CDATA #REQUIRED
    Modified CDATA #REQUIRED
    ModifiedBy CDATA #REQUIRED
>

<!ELEMENT Vacation EMPTY>
<!ATTLIST Vacation
    CalendarEvent CDATA #IMPLIED
    Approved CDATA #IMPLIED
>

